In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sports= "SPD.csv"
sport= 'SPD(League only).csv'

In [3]:
df = pd.read_csv(sports,index_col=0, parse_dates=True)
dfd = pd.read_csv(sport)

In [4]:
dfd['League'].str.strip()

0        NBA
1        NBA
2        NBA
3        NBA
4        NBA
        ...
3275    WNBA
3276    WNBA
3277    WNBA
3278    WNBA
3279    WNBA
Name: League, Length: 3280, dtype: object

In [5]:
df["Election Year"]= df["Election Year"].astype(object)
df.head(20)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2798 entries, Adam Silver to Zygi Wilf
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           2798 non-null   object
 1   League         2798 non-null   object
 2   Recipient      2798 non-null   object
 3   Amount         2798 non-null   float64
 4   Election Year  2798 non-null   object
 5   Party          2789 non-null   object
dtypes: float64(1), object(5)
memory usage: 153.0+ KB

In [6]:
dfyr=df.groupby(['Election Year'], as_index=False)['Amount'].sum()
dfyr=dfyr.set_index('Election Year')
dfyr
# put percent of of total by party by year in timeseries to see if republicans get more or less % by year

# how all leagues donate by year, how speficic leagues donate by year time series all in one graph

# how does the location of the team affect the donation patterns

# do owners that own multiple teams donate differently than owners in that only have one team  
# in terms of size or amount but also in who the who they donate to.

                   Amount
Election Year
2016           17679696.0
2018           16932768.0
2020           12366233.0

In [7]:
dfd2= dfd.groupby(['League'], as_index=False)['Amount'].sum()
dfd2

   League    Amount
0     MLB  21680048
1  NASCAR    731093
2     NBA  12026887
3     NFL   6629120
4     NHL   9087615
5    WNBA   3162455

In [8]:
dfl=dfd['Owner']
dfl

0       Adam Silver
1       Adam Silver
2       Adam Silver
3       Adam Silver
4       Adam Silver
           ...
3275    Ted Leonsis
3276    Ted Leonsis
3277    Ted Leonsis
3278    Ted Leonsis
3279    Ted Leonsis
Name: Owner, Length: 3280, dtype: object

In [9]:
dfe= df.groupby(['Election Year',"Party"],as_index=False)['Amount'].sum()
dfe

    Election Year                              Party      Amount
0            2016                         Bipartisan    578050.0
1            2016  Bipartisan, but mostly Democratic      2000.0
2            2016  Bipartisan, but mostly Republican     83638.0
3            2016                           Democrat   4065094.0
4            2016                        Independent      2700.0
5            2016                         Republican  12940514.0
6            2018                         Bipartisan    540083.0
7            2018  Bipartisan, but mostly Democratic      6000.0
8            2018  Bipartisan, but mostly Republican     99103.0
9            2018                           Democrat   4174212.0
10           2018                        Independent     10800.0
11           2018                         Republican  11282570.0
12           2020                         Bipartisan    356566.0
13           2020  Bipartisan, but mostly Democratic      2800.0
14           2020  Bipartisan, but mostly Republican     88352.0
15           2020                           Democrat   1874333.0
16           2020                         Republican  10022932.0

In [10]:
dfer=dfe.loc[dfe['Party'] =='Republican']
dfer

    Election Year       Party      Amount
5            2016  Republican  12940514.0
11           2018  Republican  11282570.0
16           2020  Republican  10022932.0

In [11]:
dfed=dfe.loc[dfe['Party'] =='Democrat']
dfed

    Election Year     Party     Amount
3            2016  Democrat  4065094.0
9            2018  Democrat  4174212.0
15           2020  Democrat  1874333.0

In [12]:
dfsum=df["Amount"].sum()

dfsum
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2798 entries, Adam Silver to Zygi Wilf
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           2798 non-null   object
 1   League         2798 non-null   object
 2   Recipient      2798 non-null   object
 3   Amount         2798 non-null   float64
 4   Election Year  2798 non-null   object
 5   Party          2789 non-null   object
dtypes: float64(1), object(5)
memory usage: 153.0+ KB

In [13]:
dfy=df.loc[(df["Election Year"] == 2020)]
dfq= dfy["Amount"].sum()
dfq

12366233.0

In [14]:
dfed["Amount"].sum()
dfed

    Election Year     Party     Amount
3            2016  Democrat  4065094.0
9            2018  Democrat  4174212.0
15           2020  Democrat  1874333.0

In [15]:
dfy2=df.loc[(df["Election Year"] == 2020)& (df["Party"] == "Democrat")]
dfq2= dfy2["Amount"].sum()
dfq2

1874333.0

In [16]:
dfq3=dfq2/dfq

In [17]:
dfq3

0.15156863047946775

In [18]:
dfyr=df.groupby(['Election Year'], as_index=False)['Amount'].sum()

dfyr

   Election Year      Amount
0           2016  17679696.0
1           2018  16932768.0
2           2020  12366233.0

In [ ]:
y=dfyr["Amount"]
x=dfyr["Election Year"]
plt.bar(dfyr["Election Year"],dfyr["Amount"])
plt.xticks(np.arange(min(x), max(x)+1, 2.0))
plt.yticks(np.arange(min(1), max(y)+1, 2.0))
plt.show()

In [ ]:
df.info()